<div class="row">
  <div class="col-2 p-0">
    <%= render 'sidebar' %>
  </div>
  <div class="col-10 p-0">
    <div class="card rounded-0" id="body-height">
      <div class="card-body align-items-end">
        <div class="messages">
          <% @room.messages.each do |message| %>
            <p><%= message.content%> - <span class="fw-light fst-italic"><%= message.user.username %></span> </p> 
          <% end %>
        </div>
        <%= render 'messages/form', message: Message.new %>
      </div>
    </div>
  </div>
</div>

